<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.dao.LoginLogMapper">
  <resultMap id="BaseResultMap" type="com.qianfeng.entity.LoginLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="location" jdbcType="VARCHAR" property="location" />
  </resultMap>
  <!--1645-->
  <sql id="Base_Column_List">
    id, ip, no, createtime, location
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_loginlog
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_loginlog
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qianfeng.entity.LoginLog">
    insert into t_loginlog (id, ip, no, createtime, 
      location)
    values (#{id,jdbcType=BIGINT}, #{ip,jdbcType=VARCHAR}, #{no,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{location,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qianfeng.entity.LoginLog">
    insert into t_loginlog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="no != null">
        no,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="location != null">
        location,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianfeng.entity.LoginLog">
    update t_loginlog
    <set>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        no = #{no,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianfeng.entity.LoginLog">
    update t_loginlog
    set ip = #{ip,jdbcType=VARCHAR},
      no = #{no,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      location = #{location,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryAll" resultType="com.qianfeng.entity.LoginLog">

    select id, ip, no, createtime, location from t_loginlog order by createtime desc limit 15
  </select>

  <select id="qyeryByNo" resultType="com.qianfeng.entity.LoginLog">

    select id, ip, no, createtime, location from t_loginlog where no=#{no} order by createtime desc
  </select>
</mapper>